<h1><%= @state_title %></h1>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks.where(state: @state) %>
  </tbody>
</table>
